In [2]:
import pandas as pd

In [3]:
csv_path = "../data/raw/NigeriaHousingDataset.csv"

In [ ]:
# Load CSV
df = pd.read_csv(csv_path)


# Show first 5 rows
print(df.head())

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50247 entries, 0 to 50246
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Location        50247 non-null  object
 1   Currency        50247 non-null  object
 2   Price           50247 non-null  object
 3   Contact         50247 non-null  object
 4   Bedrooms        49325 non-null  float64
 5   Realtor         50246 non-null  object
 6   Bathrooms       42697 non-null  float64
 7   Title           50247 non-null  object
 8   Description     50247 non-null  object
 9   Parking Spaces  25198 non-null  float64
 10  Toilets         44069 non-null  float64
dtypes: float64(4), object(7)
memory usage: 4.2+ MB

In [6]:
display(df)

,Location,Currency,Price,Contact,Bedrooms,Realtor,Bathrooms,Title,Description,Parking Spaces,Toilets
0,"Urban Prime Three Phase 2 Estate, Ogombo, Ajah...",₦,"150,000,000",8067495852,5.0,Lake Pad Ventures,6.0,Luxury 5 Bedrooms Semi-detached Duplex,Hurry now!\nfor sale\nluxury 5 bedroom on two ...,5.0,7.0
1,"Ikoyi, Lagos",$,"2,800,000",7065266133,6.0,Bera Deals,6.0,Luxury 6 Bedrooms Penthouse Condo,Direct brief from the owner\n- the detailed vi...,NaN,7.0
2,"Pinnock Beach Estate, Osapa, Lekki, Lagos",₦,"1,400,000,000",7065266133,6.0,Bera Deals,NaN,Newly Built Massive House / Mansion,Direct brief / direct instruction from the own...,NaN,7.0
3,"Oseni Mayegun Street, Ologolo, Lekki, Lagos",₦,"200,000,000",8079792003,4.0,Paul Osaji And Co,4.0,4 Bedroom Detached House With 2 Mini Flats Bq,For sale in ologolo\n4 bedroom fully detached ...,NaN,4.0
4,"Ikate Lekki, Ikate, Lekki, Lagos",₦,"210,000,000",8084677480,5.0,Jasmine Real Properties And Estate Services,5.0,Super Luxury 5bed Semi Detach Duplex With A Bq,5 bed ikate n215m\nluxury 5 bedroom semidetach...,NaN,6.0
...,...,...,...,...,...,...,...,...,...,...,...
50242,"Tulip Heaven, Chevron, Lekki Phase 1, Lekki, L...",₦,"260,000,000",8033012341,5.0,First Close,6.0,Newly Built 5 Bedrooms Fully Detached House,"Holiday price now n260,000,000.00 from initial...",NaN,7.0
50243,"Aguda, Surulere, Lagos",₦,"150,000,000",8054563213,NaN,Harris Consult Realty,NaN,Renovated Block Of 16 Flats,Direct brief\nfor sale\n16 flat comprised of 9...,NaN,NaN
50244,"Katampe Extension, Katampe, Abuja",₦,"2,500,000,000",8155321626,9.0,Akerejolabisoye Global Ltd,10.0,Newly Built Luxury 9 Bedroom Mansion With 2 Be...,Newly built luxury 9 bedroom mansion with 2 be...,10.0,10.0
50245,"Banana Island, Ikoyi, Lagos",$,"4,000,000",9016641836,5.0,Godmaan Global Realestate,8.0,"Convenient, Contemporary Living With Treetop V...","Located in a sought-after neighborhood, this p...",8.0,8.0
50246,"Orchid Hotel Road Off Chevron Toll Gate, Lekki...",₦,"70,000,000",9016641836,2.0,Godmaan Global Realestate,3.0,Invest In This Highly Sought After Location,"Located in a sought-after neighborhood, this p...",2.0,3.0

In [8]:
df.isnull().sum()

Location              0
Currency              0
Price                 0
Contact               0
Bedrooms            922
Realtor               1
Bathrooms          7550
Title                 0
Description           0
Parking Spaces    25049
Toilets            6178
dtype: int64

In [11]:
df["Toilets"]

0         7.0
1         7.0
2         7.0
3         4.0
4         6.0
         ...
50242     7.0
50243     NaN
50244    10.0
50245     8.0
50246     3.0
Name: Toilets, Length: 50247, dtype: float64

In [12]:
missing_percent = df.isnull().sum()/len(df)*100 #check proportion of missingness

In [13]:
missing_percent

Location           0.000000
Currency           0.000000
Price              0.000000
Contact            0.000000
Bedrooms           1.834935
Realtor            0.001990
Bathrooms         15.025773
Title              0.000000
Description        0.000000
Parking Spaces    49.851732
Toilets           12.295261
dtype: float64

In [ ]:
##Insight:
##Bedrooms has very few missing → can fill with median or mode.
#Bathrooms and Toilets have moderate missing → median imputation works.
#Parking Spaces is missing almost half → maybe fill with 0 if absence of parking is plausible, or leave as null and let LLM handle missing info.

In [15]:
usd_rows = df['Currency'].str.contains('\$', regex=True)
df[usd_rows].head()

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\Admin\AppData\Local\Temp\ipykernel_10204\2640634618.py:1: SyntaxWarning: invalid escape sequence '\$'
  usd_rows = df['Currency'].str.contains('\$', regex=True)

,Location,Currency,Price,Contact,Bedrooms,Realtor,Bathrooms,Title,Description,Parking Spaces,Toilets
1,"Ikoyi, Lagos",$,"2,800,000",7065266133,6.0,Bera Deals,6.0,Luxury 6 Bedrooms Penthouse Condo,Direct brief from the owner\n- the detailed vi...,NaN,7.0
21,"Osbourne Foreshore Estate 1, Old Ikoyi, Ikoyi,...",$,"7,000,000",8069683185,6.0,Giselle Homes,6.0,Beautifully Built 6 Bedrooms Mansion,Fantastic opportunity awaits with this stunnin...,NaN,7.0
47,"Ikoyi, Lagos",$,"3,000,000",9068778700,5.0,Dita Homes,6.0,Newly Built 5 Bedrooms House,Available for sale in old ikoyi.\ncontemporary...,4.0,5.0
49,"Pinnock Beach Estate, Osapa, Lekki, Lagos",$,"2,500,000",8025286152,5.0,Apple Properties,5.0,Luxury Waterfront Mansion,5 bedroom luxury fully detached duplex\npinnoc...,NaN,5.0
50,"Banana Island, Ikoyi, Lagos",$,"15,000,000",8025286152,7.0,Apple Properties,7.0,The Best Penthouse,Lucrezia\nfull house automation\n2 bqs\nzaha h...,NaN,7.0

In [18]:
# Remove commas and $ sign
df['Price_clean'] = df['Price'].replace('[\$,]', '', regex=True).astype(float)

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
C:\Users\Admin\AppData\Local\Temp\ipykernel_10204\1895377561.py:2: SyntaxWarning: invalid escape sequence '\$'
  df['Price_clean'] = df['Price'].replace('[\$,]', '', regex=True).astype(float)

In [20]:
USD_TO_NGN = 1532.34

# Create a new column in Naira
df.loc[usd_rows, 'Price_clean'] = df.loc[usd_rows, 'Price_clean'] * USD_TO_NGN

In [21]:
naira_rows = ~usd_rows
df.loc[naira_rows, 'Price_clean'] = df.loc[naira_rows, 'Price'].replace(',', '', regex=True).astype(float)

In [22]:
df['Price'] = df['Price_clean']
df.drop(columns=['Price_clean'], inplace=True)

In [ ]:
df.head(10)

In [24]:
df['Currency'] = "₦"

In [ ]:
df.head(10)

In [26]:
# ---------- Step 3: Handle missing numeric values ----------
numeric_cols = ['Bedrooms', 'Bathrooms', 'Parking Spaces', 'Toilets']

# Bedrooms, Bathrooms, Toilets → fill with median
df['Bedrooms'] = df['Bedrooms'].fillna(df['Bedrooms'].median())
df['Bathrooms'] = df['Bathrooms'].fillna(df['Bathrooms'].median())
df['Toilets'] = df['Toilets'].fillna(df['Toilets'].median())

# Parking Spaces → fill missing with 0
df['Parking Spaces'] = df['Parking Spaces'].fillna(0)

In [27]:
df.isnull().sum()

Location          0
Currency          0
Price             0
Contact           0
Bedrooms          0
Realtor           1
Bathrooms         0
Title             0
Description       0
Parking Spaces    0
Toilets           0
dtype: int64

In [ ]:
# Simple scoring: give weight to Bedrooms, Bathrooms, Toilets, Parking Spaces
df['Score'] = (
    df['Bedrooms'] * 2 +
    df['Bathrooms'] * 1 +
    df['Toilets'] * 0.5 +
    df['Parking Spaces'] * 0.5
)